body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 3.5px solid gold;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: gold;
  border-radius: 0;
  border-bottom: 10px solid gold;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 2px solid gold;
}

.hour {
  background-color: black;
  color: gold;
  border-top: 2px gold;
}

.past {
  background-color: darkgray;
  color: black;
  font-weight: bolder;
}

.present {
  background-color: red;
  color: black;
  font-weight: bolder;
}

.future {
  background-color: green;
  color: black;
  font-weight: bolder;
}

.saveBtn {
  border-left: 3.5px solid gold;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: gold;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
}
